<form action='/meetups/new' method="post">
  <label>Create a Meetup</label>
  <input type="text" placeholder="Meetup Name" name="Name">
  <input type="text" placeholder="Description" name="Description">
  <input type="text" placeholder="Location" name="Location">
  <input type="submit">
</form>
